$prefixCls: 'hcl-button';

.#{$prefixCls} {
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  &+& {
    margin-left: 10px;
  }
  &--default {
    color: #606266;
    border: 1px solid #dcdfe6;
    &:hover {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
    &:active {
      color: #3a8ee6;
      border-color: #3a8ee6;
    }
  }
  &--primary {
    color: #fff;
    background-color: #409EFF;
    border: 1px solid #409EFF;
    &:hover {
      color: #fff;
      background: #66b1ff;
      border: 1px solid #66b1ff;
    }
    &:active {
      color: #fff;
      background: #3a8ee6;
      border: 1px solid #3a8ee6;
    }
  }
}