$prefixCls: 'hcl-directory';

.#{$prefixCls} {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 140px;
  height: 130px;
  margin: 10px;
  cursor: pointer;
  .img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    padding-bottom: 6px;
  }
  p {
    width: inherit;
    line-height: 30px;
    color: #1a1a1a;
    font-size: 14px;
    text-align: center;
  }
  input {
    width: inherit;
    height: 30px;
    line-height: 30px;
    color: #1a1a1a;
    font-size: 14px;
  }
}

.#{$prefixCls}-group {
  &--empty {
    line-height: 26px;
    color: #606266;
    text-align: center;
  }
}