$prefixCls: 'hcl-directory';

.#{$prefixCls} {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 140px;
  height: 130px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    background: #bddaf9;
  }
  img {
    display: block;
  }
  p {
    width: inherit;
    line-height: 30px;
    margin-top: 5px;
    color: #1a1a1a;
    font-size: 14px;
    text-align: center;
  }
  input {
    width: inherit;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
  }
}

.#{$prefixCls}-group {
  &--empty {
    line-height: 26px;
    color: #606266;
    text-align: center;
  }
}